<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>服务器查询页面</title>

    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/service.css" type="text/css"/>
    <!--下拉框CSS-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/select/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/select/demo.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/select/cs-select.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/select/cs-skin-underline.css"/>

</head>
<body>
<div class="info" align="center">
    <font color="green"><h2 th:text="${InfoSucc}" id="tishi"></h2></font>
</div>
<div class="col-sm-5" align="center">
    <table width="700" cellspacing="0" id="table" class="hovertable">
        <tr>
            <th>选择</th>
            <th>mid:</th>
            <th>区域:</th>
            <th>服务名称:</th>
            <th>详情页:</th>
        </tr>
        <tr th:each="user :${rows}" align="center" onmouseover="this.style.backgroundColor='#BFEFFF';"
            onmouseout="this.style.backgroundColor='#d4e3e5';">
            <td><input type="checkbox" name="check" id="check" th:value="${user.mid}"/></td>
            <td th:text="${user.mid}"></td>
            <td th:text="${user.area}"></td>
            <td th:text="${user.host}"></td>
            <td align="center"><a href="javascript:void(0);" onclick="content(this)" th:id="${user.mid}">展开</a></td>
        </tr>
        <tr>
            <td colspan="5" align="center">
                <button id="btn1" class="button type1"><a href="#" style="color:#000">全选</a></button>
                <button id="btn4" class="button type1"><a href="#" style="color:#000">反选</a></button>
                <button id="sub" class="button type2"><a href="#" style="color:#000">提交</a></button>
                <button id="btn2" class="button type3"><a href="#" style="color:#000">取消</a></button>
            </td>
        </tr>
    </table>
</div>
<div class="info" align="center">
    <font color="#fff8dc"><h2 id="jiqi"></h2></font>
</div>
<div class="col-sm-3" id="biao" style="display:none;">
    <table width="1300" align="center" cellspacing="0" id="content" class="hovertable">
        <tr>
            <th>选择</th>
            <th name="unInfo">Sid:</th>
            <th id="miaoshu">服务名称:</th>
            <th id="area" name="area">区域:</th>
            <th>服务描述:</th>
            <th name="unInfo">服务名:</th>
            <th name="unInfo">进程名:</th>
            <th name="unInfo">路径:</th>
            <th name="unInfo">启动指令:</th>
            <th name="unInfo">重启指令:</th>
            <th name="unInfo">关闭指令:</th>
            <th name="unInfo">状态指令:</th>
            <th>状态栏:</th>
        </tr>
    </table>
</div>
<div style="margin-left: 500px;display: none;" id="bq">
    <tr id="tro">
        <td colspan="9" align="center">
            <button id="btn7" class="button type3"><a href="#" style="color: #eefff6">全选</a></button>
            <button id="btn8" class="button type3"><a href="#" style="color:#eefff6">反选</a></button>
            <button id="btn9" class="button type3"><a href="#" style="color:#eefff6">取消</a></button>
            <button id="hidde" class="button type3"><a href="#" style="color:#eefff6">隐藏</a></button>
            <button id="show" class="button type3"><a href="#" style="color:#eefff6">显示</a></button>
            <button id="status" class="button type2"><a href="#" style="color:#eefff6">查看运行状态</a></button>
            <button id="openMachine" class="button type2"><a href="#" style="color:#eefff6">开启机器</a></button>
            <select name="typeValue" id="typeID" class="cs-select cs-skin-underline color-2">
                <option value="" disabled="disabled">步骤:</option>
                <option value="0">爬虫服务</option>
                <option value="1">zookeeper</option>
                <option value="2">redis</option>
                <option value="3">solr</option>
                <option value="4">kafka</option>
                <option value="5">舆情后台服务接口</option>
                <option value="6">数据写入接口</option>
                <option value="7">nginx</option>
                <option value="8">hadoop</option>
                <option value="9">spark</option>
                <option value="10">spark写入数据程序</option>
            </select>
        </td>
    </tr>
</div>
<!--星空样式-->
<div class="stars"></div>
<!--星空样式-->
</body>
<script src="../../static/js/xshellDo/service.js"></script>
<!--下拉框-->
<script src="../../static/js/select/classie.js"></script>
<script src="../../static/js/select/selectFx.js"></script>
<script>
    /*下拉框的点击方法js*/
    (function () {
        [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
            new SelectFx(el);
        });
    })();
</script>
<!--下拉框-->
</html>