<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>服务器查询页面</title>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
    <style>
        .col-sm-5 {
            width: 600px;
            margin-left: 650px;
            border-style: groove;
            border-width: 1px;
            background-color: #F0F0F0;
        }

        .col-sm-3 {
            width: 1300px;
            margin-left: 350px;
            margin-top: 35px;
            border-style: solid;
            border-width: 1px;
            background-color: #D4D4D4;
        }

        .col-sm-5 table tr a {
            font-size: 12px;
            color: skyblue
        }

        .col-sm-5 table tr a:hover {
            color: red
        }
    </style>
</head>
<body>
<div class="info" align="center">
    <font color="green"><h2 th:text="${InfoSucc}" id="tishi"></h2></font>
</div>
<div class="col-sm-5" align="center">
    <table width="600" border="1" cellspacing="0" id="table">
        <tr style="color: #C6E2FF" bgcolor="#8DB6CD">
            <th>选择</th>
            <th>mid:</th>
            <th>区域:</th>
            <th>服务名称:</th>
            <th>详情页:</th>
        </tr>
        <tr th:each="user :${rows}" align="center">
            <td><input type="checkbox" name="check" id="check" th:value="${user.mid}"/></td>
            <td th:text="${user.mid}"></td>
            <td th:text="${user.area}"></td>
            <td th:text="${user.host}"></td>
            <td align="center"><a href="javascript:void(0);" onclick="content(this)" th:id="${user.mid}">展开</a></td>
        </tr>
        <tr>
            <td colspan="5" align="center">
                <button id="btn1">全选</button>&nbsp;&nbsp;<button id="btn4">反选</button>&nbsp;&nbsp;<button id="sub">提交
            </button>&nbsp;&nbsp;<button id="btn2">取消</button>
            </td>
        </tr>
    </table>
</div>
<div class="col-sm-3" id="biao" style="display:none;">
    <table width="1300" border="1" align="center" cellspacing="0" id="content">
        <tr style="color: #E0FFFF" bgcolor="#838B8B">
            <th>Sid</th>
            <th>服务名:</th>
            <th>进程名:</th>
            <th>路径:</th>
            <th>启动指令:</th>
            <th>重启指令:</th>
            <th>关闭指令:</th>
            <th>状态指令:</th>
        </tr>
        <tr id="tro">

        </tr>
    </table>
</div>
</body>
<script type="text/javascript">
    $("document").ready(function () {
        $("#btn1").click(function () {
            $("[name='check']").attr("checked", 'true');//全选
        });
        $("#btn2").click(function () {
            $("[name='check']").removeAttr("checked");//取消全选
        });
        $("#btn4").click(function () {
            $("[name='check']").each(function () {  //反选
                if ($(this).attr("checked")) {
                    $(this).removeAttr("checked");
                }
                else {
                    $(this).attr("checked", 'true');
                }
            })
        });
        $("#sub").click(function () {         //提交
            var chk_value = [];
            $('input[name="check"]:checked').each(function () {
                chk_value.push($(this).val());
            });
            if (chk_value == null || chk_value == 0) {
                alert("请选择一个选项!")
            } else {
                $.ajax({
                    url: "/list",
                    type: "post",
                    traditional: true,  //传递数组值时必须含有traditional
                    data: {chk_value:chk_value},
                    success: function (data) {
                        var ddl = $("#content");
                        //删除节点
                        document.getElementById("biao").style.display = "block";
                        $("#content td").remove();
                        $("#tishi").text(" 加载完成~~");
                        $.each(data, function (i, result) {
                            var item = "<tr><td>" + result['sid'] + "</td><td>" + result['service_name'] + "</td>" +
                                "<td>" + result['process_name'] + "</td><td>" + result['path'] + "</td>" +
                                "<td>" + result['cmad_start'] + "</td><td>" + result['cmad_restart'] + "</td>" +
                                "<td>" + result['cmad_stop'] + "</td><td>" + result['cmad_status'] + "</td></tr>";
                            ddl.append(item);
                        });
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }
        });
    });

    function content(obj) {
        var tid = obj.id;
        $.ajax({
            url: "/content/" + tid,
            type: "post",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                var ddl = $("#content");
                //删除节点
                document.getElementById("biao").style.display = "block";
                $("#content td").remove();
                $("#tishi").text("MID: " + tid + " 加载完成~~");
                $.each(data, function (i, result) {
                    var item = "<tr><td>" + result['sid'] + "</td><td>" + result['service_name'] + "</td>" +
                        "<td>" + result['process_name'] + "</td><td>" + result['path'] + "</td>" +
                        "<td>" + result['cmad_start'] + "</td><td>" + result['cmad_restart'] + "</td>" +
                        "<td>" + result['cmad_stop'] + "</td><td>" + result['cmad_status'] + "</td></tr>";
                    ddl.append(item);
                });
            },
            error: function () {
                alert("Error");
            }
        });
    }

</script>
</html>